@charset "UTF-8";

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito.ttf') format(truetype);

    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

header{
    color: white;
}

header #ho-tel-loc{
    background-color: #122AB2;
    display: flex;
    justify-content: center;
}

#ho-tel-loc > div{
    max-width: 950px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

header #ho-tel-loc div section{
    margin: 10px;
}

div#logo-nav{
    background-color: #2C70FF;

    display: flex;
    justify-content: center;
}

div#logo-nav > div{
    padding: 15px 0px 15px 15px;
    max-width: 950px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

#logo-nav h1{
    font-size: 2.3em;
    padding-right: 20px;
}

#logo-nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1.2em;
}

#logo-nav a:nth-child(1){
    padding: 10px 10px 10px 0;
}

#logo-nav a:hover{
    color: #122AB2;
}

main{
    max-width: 950px;
    color: rgb(34, 34, 34);
    margin: 0 auto;
}

main h1#titulo{
    font-size: 3em;
    padding: 50px 0 50px 15px;
    line-height: 0.99em;
    border-bottom: 2px solid #2C70FF;
}

main article h1{
    font-size: 3em;
    padding: 0 0 20px 15px;
}

main article p{
    font-size: 1.3em;
    margin: 0px 0px 20px 15px;
}

article#sobre{
    margin-top: 50px;
    padding: 0 15px 50px  15px;
    border-bottom: 2px solid #2C70FF;

    display: flex;
    flex-wrap: wrap;
}

#sobre .texto-sobre{
    padding-right: 20px;
    margin: 0 0 0 -15px;
    flex: 1 350px;
}

.texto-sobre p{
    color: #7C7C7C;
}

article#sobre > div{
   flex: 1 1 165px;
   max-width: 210px; 
}

article#sobre > div.img1{
    margin-right: 10px;
}

article#sobre > div.img1 > img{
    width: 100%;
    height: 100%;
}

section#produtos{
    padding-bottom: 50px;
}

section#produtos > h1{
    font-size: 3em;
    margin: 50px 0 50px 15px;
}

section#pdt-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

section#pdt-flex div h1{
    padding: 50px 20px 50px 20px;
    font-size: 3em;
    color: #A4A4A4;
    background-color: #F7F7F7;
}

section#pdt-flex div{
    margin: 0 10px 10px 10px;

    flex: 1 1 175px;
}

section#pdt-flex img{
    width: 100%;
}

div.p1{
    border-top: 8px solid #AE81FF;
}

div.p2{
    border-top: 8px solid #F9265E;
}

div.p3{
    border-top: 8px solid #66D9EB;
}

section#precos{
    width: 100%;
    background-color: #F7F7F7;
    padding: 40px 15px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

section#precos > section{
    width: 100%;
    border: 5px solid white;
    margin: 5px;
    padding: 20px;
    flex: 1 250px;
}

section#precos > section > div{
    max-width: 300px;
    margin: auto;
}

section#precos > section > div h1:nth-child(1){
    text-align: center;
    color: #A4A4A4;
    font-size: 3em;
    padding: 10px;
}

section#precos > section > div h1:nth-child(2){
    text-align: center;
    color: #222222;
    font-size: 3em;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

section#precos > section > div ul{
    direction: rtl;
    padding: 10px 0;
    padding-inline-start: 20px;
    color: #2C70FF;
}

section#precos > section > div ul p{
    color: #7C7C7C;
    text-align: left;
    font-size: 1.25em;
    font-style: italic;
    padding: 10px 0;
}

section#precos input[type=button]{
    width: 100%;
    height: 70px;
    font-size: 1.8em;
    font-weight: bolder;
    background-color: transparent;
    border: 4px solid #222222;
    cursor: pointer;
}

section#precos input[type=button]:active{
    transform: scale(95%);
    transition-duration: 0.3s;
}

section#precos input[type=button]:hover{
    border-color: #777777;
    color: #454545;
}

section#qualidades{
    padding: 50px 0;
    column-gap: 10px;

    display: flex;
    flex-wrap: wrap;
} 

section#qualidades > div{
    flex: 1 1 300px; 

    padding: 0 5px;
}

section#qualidades > div h1{
    color: #A4A4A4;
    margin: 20px 0;
    padding-left: 15px;
    font-size: 2.3em;
    height: 40px;
}

.roxo > h1{
    border-left: 7px solid #AE81FF;
}

.red > h1{
    border-left: 7px solid #F9265E;
}

.azul > h1{
    border-left: 7px solid #66D9EB;
}

section#qualidades > div p{
    font-size: 1.2em;
    color: #7C7C7C;
}

footer{
    background-color: #F7F7F7;
}

footer > section#nl{
    padding: 50px 15px;
    max-width: 950px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

section#nl .nl{
    padding-right: 20px;

    flex: 1;
}

section#nl h1{
    font-size: 3em;
    color: #A4A4A4;
    
}

section#nl p{
    color: #7C7C7C;
}

.inemail{
    background-color: #2C70FF;
    padding: 5px;
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.inemail input{
    flex: 1;
}

.inemail input[type=email]{
    border: none;
    font-size: 1.2em;
    font-style: italic;
    padding: 10px;
}

.inemail input[type=submit]{
    background-color: #2C70FF;
    color: white;
    font-size: 2em;
    font-weight: bold;
    border: none;
    flex-basis: 100px;
    height: 70px;
    padding: 15px;
    cursor: pointer;
}

section#copyr{
    background-color: #2C70FF;
    font-size: 2em;
    color: #122AB2;
    padding: 50px;
}

section#copyr{
    text-align: center;
}

@media (min-width: 740px){
    div.img2 > img{
        width: 100%;
    }
}

@media (max-width: 556px){
    div.img2 > img{
        width: 100%;
    }
}

@media (max-width: 796px){
    .ouro{
        order: -1;
    }

    .cobre{
        order: 2;
    }
}