@charset "UTF-8";

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito.ttf') format(truetype);

    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

header{
    color: white;
}

header #ho-tel-loc{
    background-color: #122AB2;
    display: flex;
    justify-content: center;
}

#ho-tel-loc > div{
    max-width: 900px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

header #ho-tel-loc div section{
    margin: 10px;
}

div#logo-nav{
    background-color: #2C70FF;

    display: flex;
    justify-content: center;
}

div#logo-nav > div{
    padding: 15px 0px 15px 15px;
    max-width: 900px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

#logo-nav h1{
    font-size: 2.3em;
    padding: 0px 20px 0px 0px;
    margin: 0 0 0 0;
}

#logo-nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1.2em;
}

#logo-nav a:nth-child(1){
    padding: 10px 10px 10px 0;
}

#logo-nav a:hover{
    color: #122AB2;
}

main{
    max-width: 900px;
    color: rgb(34, 34, 34);
    margin: 0 auto;
}

main h1#titulo{
    font-size: 3em;
    padding: 50px 0 50px 15px;
    line-height: 0.99em;
    border-bottom: 2px solid #2C70FF;
}

main article h1{
    font-size: 3em;
    padding: 0 0 20px 15px;
}

main article p{
    font-size: 1.3em;
    margin: 0px 0px 20px 15px;
}

article#sobre{
    margin: 50px 0 0 0;
    padding: 0 15px 50px  15px;
    border-bottom: 2px solid #2C70FF;

    display: flex;
    flex-wrap: wrap;
}

#sobre .texto-sobre{
    padding: 0 10px 0 0;
    margin: 0 0 0 -15px;
    flex: 1 0 350px;
}

article#sobre > div{
   flex: 1 1 165px;
   max-width: 210px; 
}

article#sobre > div.img1{
    margin-right: 10px;
}

article#sobre > div.img1 > img{
    
    width: 100%;
    height: 100%;
}

@media (min-width: 740px){
    div.img2 > img{
        width: 100%;
    }
}

@media (max-width: 556px){
    div.img2 > img{
        width: 100%;
    }
}